@mixin block($background, $marginT,$marginR,$marginB,$marginL){
  color:white;
  height: 350px;
  width: 100%;
  background: $background;
  font-size: 20px;
  text-align: center;
  display: table;
  transition: .5s;
  cursor: pointer;

  &:hover{
    margin: $marginT $marginR $marginB $marginL;
    height: 350px * .9;
    width: 100% * .9;

  //  $background:lighten($background, 10%);
    background:  complement($background);
  }
  a{
    color: floralwhite;
    display: table-cell;
    vertical-align: middle;
    &:hover{

    }
  }
}

.block-wrapper{
  padding-top: 50px;
}

.userBlock{
  @include block(darkblue,0,20px,40px,0);
}
.paymentBlock{
  @include block(tomato,0,0px,40px,40px);
}
.checkUserBlock{
  @include block(turquoise,40px,40px,0,0);
}
.checkPaymentBlock{
  @include block(purple,40px,0,0,40px);
}
